/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

@import "./variables";
//footer
.footer {
    background: $dark;
    color: $light;
    padding: 20px 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;

        li {
            list-style: none;
            a {
                text-decoration: none;
                display: inline-block;
                margin: 0 10px;
                img {
                    -webkit-filter: invert(1);
                            filter: invert(1);
                    max-width: 20px;
                }
            }
        }
    }
}

@media screen and (max-width: 866px) {
    .footer {
        padding: 20px 30px;
    }
}

@media screen and (max-width: 730px) {
    .footer {
        padding: 10px 30px;
    }
}

@media screen and (max-width: 700px) {
    .footer {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }

    .footer p {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 328px) {
    .footer {
        padding: 10px 10px;
    }
}