* {
  padding: 0;
  margin: 0;
}

.footer {
  background: #333;
  color: #fff;
  padding: 20px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer ul li {
  list-style: none;
}

.footer ul li a {
  text-decoration: none;
  display: inline-block;
  margin: 0 10px;
}

.footer ul li a img {
  -webkit-filter: invert(1);
          filter: invert(1);
  max-width: 20px;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
}

body {
  background: #ccc;
  margin: 30px 50px 0 50px;
  line-height: 1.4;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  max-height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-nav ul {
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

.main-nav ul li {
  list-style: none;
}

.main-nav ul li a {
  padding: 0.8rem;
  text-transform: uppercase;
  display: block;
  background: #ddd;
  -webkit-box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
          box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  color: #333;
  text-align: center;
  text-decoration: none;
  font-size: 1.1rem;
}

.main-nav ul li a:hover {
  background-color: #333;
  color: #fff;
}

.corpo-full .mensagem {
  padding: 50px 0px 0px 0px;
  text-align: justify;
}

.corpo-full .mensagem h1 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  background-color: #333;
  color: #ccc;
}

.corpo-full .mensagem p {
  margin-top: 20px;
  text-align: center;
}

.corpo-full ul#album-fotos {
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 20px 10px 20px 10px;
  list-style: none;
}

.corpo-full ul#album-fotos li {
  width: 200px;
  height: 200px;
  margin: 10px;
  border: 2px solid black;
  background-color: #ffffff;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
          box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.corpo-full ul#album-fotos li:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.corpo-full ul#album-fotos li:hover span {
  opacity: 1;
}

.corpo-full ul#album-fotos li span {
  opacity: 0;
  color: #ffffff;
  text-shadow: 1px 1px 1px #000000;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 9pt;
  line-height: 370px;
  padding: 5px;
}

.corpo-full ul#album-fotos li#foto01 {
  background: url("../../gallery/images/imagem9.png") no-repeat;
  background-position: 50% 50%;
  background-size: 400px 400px;
  background-color: #ffffff;
}

.corpo-full ul#album-fotos li#foto01:hover {
  background-position: 0px 0px;
  background-size: 200px 200px;
}

.corpo-full ul#album-fotos li#foto02 {
  background: url("../../gallery/images/imagem2.png") no-repeat;
  background-position: 50% 50%;
  background-size: 400px 400px;
  background-color: #ffffff;
}

.corpo-full ul#album-fotos li#foto02:hover {
  background-position: 0px 0px;
  background-size: 200px 200px;
}

.corpo-full ul#album-fotos li#foto03 {
  background: url("../../gallery/images/imagem3.png") no-repeat;
  background-position: 50% 50%;
  background-size: 400px 400px;
  background-color: #ffffff;
}

.corpo-full ul#album-fotos li#foto03:hover {
  background-position: 0px 0px;
  background-size: 200px 200px;
}

.corpo-full ul#album-fotos li#foto04 {
  background: url("../../gallery/images/imagem4.png") no-repeat;
  background-position: 50% 50%;
  background-size: 400px 400px;
  background-color: #ffffff;
}

.corpo-full ul#album-fotos li#foto04:hover {
  background-position: 0px 0px;
  background-size: 200px 200px;
}

.corpo-full ul#album-fotos li#foto05 {
  background: url("../../gallery/images/imagem5.png") no-repeat;
  background-position: 50% 50%;
  background-size: 400px 400px;
  background-color: #ffffff;
}

.corpo-full ul#album-fotos li#foto05:hover {
  background-position: 0px 0px;
  background-size: 200px 200px;
}

.corpo-full ul#album-fotos li#foto06 {
  background: url("../../gallery/images/imagem6.png") no-repeat;
  background-position: 50% 50%;
  background-size: 400px 400px;
  background-color: #ffffff;
}

.corpo-full ul#album-fotos li#foto06:hover {
  background-position: 0px 0px;
  background-size: 200px 200px;
}

.corpo-full ul#album-fotos li#foto07 {
  background: url("../../gallery/images/imagem7.png") no-repeat;
  background-position: 50% 50%;
  background-size: 400px 400px;
  background-color: #ffffff;
}

.corpo-full ul#album-fotos li#foto07:hover {
  background-position: 0px 0px;
  background-size: 200px 200px;
}

.corpo-full ul#album-fotos li#foto08 {
  background: url("../../gallery/images/imagem8.png") no-repeat;
  background-position: 50% 50%;
  background-size: 400px 400px;
  background-color: #ffffff;
}

.corpo-full ul#album-fotos li#foto08:hover {
  background-position: 0px 0px;
  background-size: 200px 200px;
}

@media screen and (max-width: 1050px) {
  .corpo-full ul#album-fotos {
    -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 0px 30px;
  }
}

@media screen and (max-width: 866px) {
  .footer {
    padding: 20px 30px;
  }
}

@media screen and (max-width: 730px) {
  .footer {
    padding: 10px 30px;
  }
}

@media screen and (max-width: 700px) {
  body {
    padding: 10px 10px;
    margin: 0;
  }
  .main-nav ul {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
  }
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer p {
    margin-bottom: 10px;
  }
}
/*# sourceMappingURL=gallery.css.map */