* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

:root {
  --primary: #ddd;
  --dark: #333;
  --light: #fff;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--dark);
}

body {
  background: #ccc;
  margin: 30px 50px 0px 50px;
  line-height: 1.4;
}

.btn {
  background-color: var(---dark);
  color: var(--light);
  padding: 0.6rem 1.3rem;
  text-decoration: none;
  border: 0;
}

.wrapper {
  display: grid;
  grid-gap: 20px;
}

.contact-container {
  display: flex;
  justify-content: center;
}

/* Navigation */

.main-nav ul {
  display: grid;
  grid-gap: 20px;
  padding: 0;
  list-style: none;
  grid-template-columns: repeat(4, 1fr);
}

.main-nav a {
  background: var(--primary);
  display: block;
  padding: 0.8rem;
  text-align: center;
  color: var(--dark);
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.1rem;
  box-shadow: var(--shadow);
}

.main-nav a:hover {
  background: var(--dark);
  color: var(--light);
}

/*MENU*/
.form-container {
  margin-top: 40px;
  background: var(--light);
  width: 700px;
  padding: 30px 40px;
  border-radius: 4px;
  box-shadow: var(--shadow);
  margin-bottom: 50px;
}

.form-container .header {
  padding-bottom: 20px;
}

.form-container .header h2 {
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 20px;
}

.form-container .header p {
  font-size: 12px;
  letter-spacing: 1px;
}

.form-control {
  padding-bottom: 20px;
  margin-bottom: 10px;
  position: relative;
  display: flex;
  justify-content: space-between;
}

form textarea {
  width: 100%;
  font-size: 14px;
  min-height: 100px;
  max-height: auto;
  padding: 10px;
}

.form-inside {
  width: 48%;
}

.form-control label {
  display: inline-block;
  margin-bottom: 5px;
  color: var(--dark);
  text-transform: uppercase;
  font-size: 12px;
}

.form-control small {
  position: absolute;
  color: red;
  font-size: 14px;
}

.hidden {
  display: none;
}

.form-control input {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid rgb(206, 204, 204);
  outline: none;
}

.form-inside.error input {
  border: 1px solid red;
}

.form-inside.success input {
  border: 1px solid rgb(50, 230, 50);
}

.form-control button {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  text-transform: uppercase;
  background: var(--dark);
  color: var(--light);
  border: 1px solid var(--dark);
}

/*CONTACT CONTAINER*/

/*FOOTER*/
.footer {
  background: var(--dark);
  color: var(--light);
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer ul li{
  list-style: none;
}

.footer ul li a {
  text-decoration: none;
  display: inline-block;
  margin: 0 10px;
}

.footer ul li a img {
  filter: invert(1);
  max-width: 20px;
}

@media screen and (max-width: 866px) {
  .footer {
    padding: 20px 30px;
  }
}

@media screen and (max-width: 730px) {
  .footer {
    padding: 10px 30px;
  }
}

@media screen and (max-width: 700px) {
  .main-nav ul {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }

  .footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .footer p {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 584px) {
  .form-control {
    flex-direction: column;
    margin-bottom: 0px;
  }

  .form-inside {
    width: 100%;
  }

  .form-inside:first-child {
    padding-bottom: 20px;
  }

  body {
    margin: 3% 3% 0 3%;
  }
}
